{% extends "base.njk" %}

{# Override the main_content block from base.njk #}
{% block main_content %}
<article class="event-page-content" style="padding: 2rem 5.71%; color: var(--text-color-dark); margin-top: 100px; min-height: calc(100vh - 100px - 2rem);"> {# Add margin-top to avoid overlap with fixed navbar #}
  <h1 class="eventH1">{{ title }}</h1>
  {# Check if date exists before displaying #}
  {% if date %}
    <p><time datetime="{{ date | readableISODate | slugify }}">{{ date | readableDate }}</time></p>
  {% endif %}
  <hr style="margin: 1rem 0; border-top: 1px solid var(--separator-color);">
  {# Display the main markdown content #}
  {{ content | safe }}
</article>
{% endblock %}
